services:
    - App\Core\RouterFactory::createRouter
    - App\Core\Repository\Products(%productsXmlFile%, %tempDir%)

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
