services:
    - App\Core\RouterFactory::createRouter
    - App\Presentation\Home\HomePresenter(%productsXmlFile%)
    - App\Presentation\Detail\DetailPresenter(%productsXmlFile%)
    - App\Presentation\Search\SearchPresenter(productsXmlFile%)
    - App\Presentation\Category\CategoryPresenter(%productsXmlFile%, %tempDir%)

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
