services:
    - App\Core\RouterFactory::createRouter
    - App\Presentation\Home\HomePresenter(%productsXmlUrl%, %productsXmlFile%)
    - App\Presentation\Detail\DetailPresenter(%productsXmlUrl%, %productsXmlFile%)
    - App\Presentation\Search\SearchPresenter(%productsXmlUrl%, %productsXmlFile%)
    - App\Presentation\Category\CategoryPresenter(%productsXmlUrl%, %productsXmlFile%, %tempDir%)

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service
